In [37]:
#Importing Necessary Libraries
import numpy as np
import pandas as pd

#For Data Visualization

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [38]:
#Load DataSet

data=pd.read_csv('https://raw.githubusercontent.com/training-ml/Files/main/titanic_train.csv')
data.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [39]:
#Lets Check Data Summary
data.shape

(891, 13)

In [40]:
#lets Drop Unnessary Columns
data.drop(columns=['Unnamed: 0','Name'],inplace=True)

In [55]:
#Lets frop ticket also
data.drop(columns=['Ticket'],inplace=True)

In [41]:
data.shape

(891, 11)

In [42]:
#Check Null Values
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [43]:
#Lets Checque Null values using lambda Function
print(data.apply(lambda col : col.unique()))

PassengerId    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
Survived                                                  [0, 1]
Pclass                                                 [3, 1, 2]
Sex                                               [male, female]
Age            [22.0, 38.0, 26.0, 35.0, nan, 54.0, 2.0, 27.0,...
SibSp                                      [1, 0, 3, 4, 2, 5, 8]
Parch                                      [0, 1, 2, 5, 3, 4, 6]
Ticket         [A/5 21171, PC 17599, STON/O2. 3101282, 113803...
Fare           [7.25, 71.2833, 7.925, 53.1, 8.05, 8.4583, 51....
Cabin          [nan, C85, C123, E46, G6, C103, D56, A6, C23 C...
Embarked                                          [S, C, Q, nan]
dtype: object

In [44]:
#Okay . So lets fill Nan in age . 
data['Age']=data['Age'].fillna(data['Age'].mean())

In [45]:
#Lets fill Cabin nan

data['Cabin']=data['Cabin'].fillna(data['Cabin'].mode()[0])

In [46]:
#Lets Fill Embarked nana
data['Embarked']=data['Embarked'].fillna(data['Embarked'].mode(1))

In [47]:
#Check data is Na values
data.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64

In [48]:
#So now we have no null values . we are good to proceed . and lets stats.
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.002015,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,29.699118,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [49]:
#In my piont of view there is outliers in price So lets remove that using z score
#Just do that
from scipy.stats import zscore

In [50]:
z_score=zscore(data[['Fare']])
abs_score=np.abs(z_score)
filtering_entry=(abs_score<3).all(axis=1)
data=data[filtering_entry]
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,871.000000,871.000000,871.000000,871.000000,871.000000,871.000000,871.000000
mean,445.319173,0.376579,2.338691,29.668789,0.517796,0.366246,26.530170
std,257.761917,0.484806,0.821469,13.024141,1.101448,0.792325,29.351184
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,221.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.895800
50%,446.000000,0.000000,3.000000,29.699118,0.000000,0.000000,13.862500
75%,665.500000,1.000000,3.000000,35.000000,1.000000,0.000000,30.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,164.866700

In [58]:
#Lets convert all categorical data to numerics data. using get_dummies method
df=pd.get_dummies(data[['Sex','Cabin','Embarked']],drop_first=True)
df

,Sex_male,Cabin_A14,Cabin_A16,Cabin_A19,Cabin_A20,Cabin_A23,Cabin_A24,Cabin_A26,Cabin_A31,Cabin_A32,...,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_Q,Embarked_S
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
887,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
888,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
889,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
890,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [60]:
data=data.join(df)

In [61]:
data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,...,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_Q,Embarked_S
0,1,0,3,male,22.0,1,0,7.2500,B96 B98,S,...,0,0,0,0,0,0,0,0,0,1
1,2,1,1,female,38.0,1,0,71.2833,C85,C,...,0,0,0,0,0,0,0,0,0,0
2,3,1,3,female,26.0,0,0,7.9250,B96 B98,S,...,0,0,0,0,0,0,0,0,0,1
3,4,1,1,female,35.0,1,0,53.1000,C123,S,...,0,0,0,0,0,0,0,0,0,1
4,5,0,3,male,35.0,0,0,8.0500,B96 B98,S,...,0,0,0,0,0,0,0,0,0,1

In [62]:
#lets Delete Same columns
data.drop(columns=['Sex','Cabin','Embarked'],inplace=True)

In [63]:
data.shape

(871, 146)

In [64]:
#Lets Check RelationShip Feature vs label.
data.drop('Survived',axis=1).corrwith(data.Survived)

PassengerId   -0.014291
Pclass        -0.329285
Age           -0.071785
SibSp         -0.040547
Parch          0.080408
                 ...
Cabin_F4       0.061726
Cabin_G6       0.017302
Cabin_T       -0.026350
Embarked_Q     0.008376
Embarked_S    -0.146830
Length: 145, dtype: float64

In [66]:
#Lets use SelectPercentile Method and Check realtionship
from sklearn.feature_selection import SelectPercentile,chi2
x=data.drop(columns='Survived')
y=data.Survived

In [67]:
spercentile=SelectPercentile(score_func=chi2,percentile=80)
spercentile.fit(x,y)

SelectPercentile(percentile=80,
                 score_func=<function chi2 at 0x000002137332B430>)

In [68]:
#Separate the features to check p values 

cols=spercentile.get_support(indices=True)
print('Feature Index = ',cols)

feature =x.columns[cols]

print('feature = ',list(feature))

Feature Index =  [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  57  58  59  60  61  64  65  66  67  68  69  70  71  74  75  78  81
  83  84  85  86  87  88  89  90  91  92  93  94  95  97  98  99 100 101
 103 105 107 109 110 111 112 113 114 115 116 117 119 120 121 123 126 127
 131 133 134 136 137 138 140 144]
feature =  ['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_male', 'Cabin_A14', 'Cabin_A16', 'Cabin_A19', 'Cabin_A20', 'Cabin_A23', 'Cabin_A24', 'Cabin_A26', 'Cabin_A31', 'Cabin_A32', 'Cabin_A34', 'Cabin_A36', 'Cabin_A5', 'Cabin_A6', 'Cabin_A7', 'Cabin_B102', 'Cabin_B18', 'Cabin_B19', 'Cabin_B20', 'Cabin_B28', 'Cabin_B30', 'Cabin_B35', 'Cabin_B37', 'Cabin_B38', 'Cabin_B39', 'Cabin_B4', 'Cabin_B41', 'Cabin_B42', 'Cabin_B49', 'Cabin_B50', 'Cabin_B51 B53 B55', 'Cabin_B69', 'Cabin_B71', 'Cabin_B73', 'Cabin_B77', 'Cabin_B78', 'Cabin_B79', 'Cabin_B80', 'Cabin_B82 B84', 'Cabin_B86', 'Cabin_B94', 'Cabin_B96 B98', 'Cabin_C101', 'Cabin_C103', 'Cabin_C104', 'Cabin_C106', 'Cabin_C110', 'Cabin_C111', 'Cabin_C118', 'Cabin_C124', 'Cabin_C125', 'Cabin_C126', 'Cabin_C128', 'Cabin_C148', 'Cabin_C30', 'Cabin_C32', 'Cabin_C46', 'Cabin_C47', 'Cabin_C49', 'Cabin_C50', 'Cabin_C52', 'Cabin_C54', 'Cabin_C7', 'Cabin_C70', 'Cabin_C85', 'Cabin_C90', 'Cabin_C92', 'Cabin_C93', 'Cabin_C99', 'Cabin_D', 'Cabin_D10 D12', 'Cabin_D11', 'Cabin_D15', 'Cabin_D17', 'Cabin_D19', 'Cabin_D20', 'Cabin_D21', 'Cabin_D26', 'Cabin_D28', 'Cabin_D33', 'Cabin_D35', 'Cabin_D36', 'Cabin_D37', 'Cabin_D45', 'Cabin_D47', 'Cabin_D49', 'Cabin_D56', 'Cabin_D7', 'Cabin_D9', 'Cabin_E10', 'Cabin_E101', 'Cabin_E12', 'Cabin_E121', 'Cabin_E17', 'Cabin_E24', 'Cabin_E25', 'Cabin_E33', 'Cabin_E34', 'Cabin_E36', 'Cabin_E40', 'Cabin_E49', 'Cabin_E50', 'Cabin_E68', 'Cabin_E8', 'Cabin_F E69', 'Cabin_F G73', 'Cabin_F2', 'Cabin_F33', 'Cabin_F4', 'Embarked_S']

In [70]:
#Create subset of selected feature 
x=data[feature]
y=data.Survived

In [71]:
#Lets Do standard Scaler
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_scaled=scaler.fit_transform(x)
x_scaled

array([[-1.7247484 ,  0.80549436, -0.58915177, ..., -0.05878964,
        -0.04797391,  0.60786253],
       [-1.72086663, -1.63056671,  0.64004202, ..., -0.05878964,
        -0.04797391, -1.6451088 ],
       [-1.71698485,  0.80549436, -0.28185332, ..., -0.05878964,
        -0.04797391,  0.60786253],
       ...,
       [ 1.72227048,  0.80549436,  0.00232995, ..., -0.05878964,
        -0.04797391,  0.60786253],
       [ 1.72615226, -1.63056671, -0.28185332, ..., -0.05878964,
        -0.04797391, -1.6451088 ],
       [ 1.73003404,  0.80549436,  0.17909435, ..., -0.05878964,
        -0.04797391, -1.6451088 ]])

In [73]:
#Lets do train_test_split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size=0.25,random_state=94062)

In [88]:
#Lets create one fucntion to check accuracy again and again
def metrics_score(cnn,x_train,x_test,y_train,y_test,train=True):
    if train:
        y_pred=cnn.predict(x_train)
        print("==============Training Score==========")
        print("Accuracy Score",accuracy_score(y_train,y_pred))
    elif train==False:
        pred=cnn.predict(x_test)
        print("==============Testing Score==========")
        print("Accuracy Score",accuracy_score(y_test,pred))
        print("Classification Report =",classification_report(y_test,pred))

In [83]:
#Now lets build a model .
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
#For accuracy check
from sklearn.metrics import accuracy_score,classification_report

In [76]:
dt=DecisionTreeClassifier()
knn= KNeighborsClassifier()
gbdt=GradientBoostingClassifier()

In [77]:
dt.fit(x_train,y_train)
knn.fit(x_train,y_train)
gbdt.fit(x_train,y_train)
print('All model Fit')

All model Fit

In [89]:
#Check score
#Lets check for Decision Tree
metrics_score(dt,x_train,x_test,y_train,y_test,train=True)
metrics_score(dt,x_train,x_test,y_train,y_test,train=False)

==============Training Score==========
Accuracy Score 1.0
==============Testing Score==========
Accuracy Score 0.7293577981651376
Classification Report =               precision    recall  f1-score   support

           0       0.81      0.76      0.78       140
           1       0.61      0.68      0.64        78

    accuracy                           0.73       218
   macro avg       0.71      0.72      0.71       218
weighted avg       0.74      0.73      0.73       218

In [90]:
#Check score
#Lets check for KNN Tree
metrics_score(knn,x_train,x_test,y_train,y_test,train=True)
metrics_score(knn,x_train,x_test,y_train,y_test,train=False)

==============Training Score==========
Accuracy Score 0.8376722817764165
==============Testing Score==========
Accuracy Score 0.8027522935779816
Classification Report =               precision    recall  f1-score   support

           0       0.81      0.91      0.86       140
           1       0.79      0.62      0.69        78

    accuracy                           0.80       218
   macro avg       0.80      0.76      0.77       218
weighted avg       0.80      0.80      0.80       218

In [91]:
#Check score
#Lets check for GBDT
metrics_score(gbdt,x_train,x_test,y_train,y_test,train=True)
metrics_score(gbdt,x_train,x_test,y_train,y_test,train=False)

==============Training Score==========
Accuracy Score 0.9065849923430321
==============Testing Score==========
Accuracy Score 0.8073394495412844
Classification Report =               precision    recall  f1-score   support

           0       0.83      0.88      0.85       140
           1       0.76      0.68      0.72        78

    accuracy                           0.81       218
   macro avg       0.79      0.78      0.79       218
weighted avg       0.80      0.81      0.80       218

In [102]:
#In my view gbdt is the best model for my dataset
#Lets do hyperparameter tuning
from sklearn.model_selection import GridSearchCV

In [129]:
grid_param={'leaf_size':range(4,8,),'n_neighbors':range(2,8,2)}

grid = GridSearchCV(KNeighborsClassifier(),param_grid=grid_param)

grid.fit(x_train,y_train)

GridSearchCV(estimator=KNeighborsClassifier(),
             param_grid={'leaf_size': range(4, 8),
                         'n_neighbors': range(2, 8, 2)})

In [135]:
grid.best_params_

{'leaf_size': 4, 'n_neighbors': 6}

In [137]:
cnn=grid.best_estimator_

In [138]:
cnn.fit(x_train,y_train)

KNeighborsClassifier(leaf_size=4, n_neighbors=6)

In [141]:
#Check score
cnn.score(x_test,y_test)

0.8073394495412844

In [142]:
cnn.score(x_train,y_train)

0.8269525267993875

In [ ]:
#Student of Data Science
#Student of Datatrained- Saurav
#Time - 18:09
#Date- 01-10-2022