In [1]:
#Lecture 9
#Learing about SQLite3 - Join

In [3]:
import sqlite3

In [4]:
#Create one more table

In [2]:
#There 4 types of Join
# 1- Inner Join - Returns Record from both table which are matching.
# 2- Left (Outer) Join -Fetch all the record from table1 and matching record from table2
# 3- Right (outer) Join- Fetch all record from table 2 and matching record from table1
# 4- Full (outer) Join- fetch all record from table1 and table 2. matching record takes as 1 record.

In [13]:
db=sqlite3.connect('Student_details.db')

In [9]:
cursor=db.cursor()

In [14]:
cursor.execute("create table student_details1(phone_number int ,student_name text,enrolled_date text,marks int)")

In [15]:
with open('Students_details.csv','r') as file:
    row_count=0
    for row in file:
        cursor.execute("insert into student_details1 values(?,?,?,?)",row.split(","))
        db.commit()
        row_count+=1
print(row_count,'Reocrd(s) Inserted')

20 Reocrd(s) Inserted

In [16]:
result=cursor.execute("select * from student_details1")
for row in result:
    print(row)

(9988776604, 'Salah', '03-10-2020', 85)
(9988776605, 'Heung-Son', '21-06-2020', 39)
(9988776606, 'Ronaldo', '08-05-2020', 86)
(9988776607, 'Kane', '11-05-2022', 57)
(9988776608, 'Mane', '17-05-2022', 52)
(6609998877, 'Vardy', '17-12-2020', 54)
(6609998878, 'Jota', '06-11-2021', 45)
(6609998879, 'Bruyne', '26-11-2020', 49)
(6609998880, 'Zaha', '05-12-2020', 88)
(6609998881, 'Sterling', '29-10-2020', 61)
(9988776614, 'Toney', '31-03-2022', 71)
(9988776615, 'Maddison', '10-03-2020', 44)
(1687799866, 'Bowen', '14-02-2021', 96)
(1687799867, 'Saka', '19-12-2022', 92)
(1687799868, 'Watkins', '30-01-2021', 49)
(1687799869, 'Mount', '16-09-2022', 48)
(1687799870, 'Raphael', '15-05-2021', 50)
(1687799871, 'Mahrez', '30-10-2021', 72)
(9988776622, 'Pukki', '19-02-2021', 93)
(9988776623, 'Fernandes', '01-03-2022', 94)

In [23]:
#We have to create one more table for use join Fucntion

In [25]:
cursor.execute('create table student_data(phone_number int primary key,email_id text,course_name text,fee_paid int)')

In [27]:
with open("DT_Students",'r')as file:
    row_count=0
    for row in file:
        cursor.execute("insert into student_data values(?,?,?,?)",row.split(","))
        db.commit()
        row_count +=1
print(row_count)

20

In [28]:
result=cursor.execute("select * from student_data")
for row in result:
    print(row)

(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)

In [29]:
result=cursor.execute("select * from student_details1")
for row in result:
    print(row)

(9988776604, 'Salah', '03-10-2020', 85)
(9988776605, 'Heung-Son', '21-06-2020', 39)
(9988776606, 'Ronaldo', '08-05-2020', 86)
(9988776607, 'Kane', '11-05-2022', 57)
(9988776608, 'Mane', '17-05-2022', 52)
(6609998877, 'Vardy', '17-12-2020', 54)
(6609998878, 'Jota', '06-11-2021', 45)
(6609998879, 'Bruyne', '26-11-2020', 49)
(6609998880, 'Zaha', '05-12-2020', 88)
(6609998881, 'Sterling', '29-10-2020', 61)
(9988776614, 'Toney', '31-03-2022', 71)
(9988776615, 'Maddison', '10-03-2020', 44)
(1687799866, 'Bowen', '14-02-2021', 96)
(1687799867, 'Saka', '19-12-2022', 92)
(1687799868, 'Watkins', '30-01-2021', 49)
(1687799869, 'Mount', '16-09-2022', 48)
(1687799870, 'Raphael', '15-05-2021', 50)
(1687799871, 'Mahrez', '30-10-2021', 72)
(9988776622, 'Pukki', '19-02-2021', 93)
(9988776623, 'Fernandes', '01-03-2022', 94)

In [30]:
#Inner Join

In [35]:
sql="select student_data.phone_number,student_details1.enrolled_date,student_details1.student_name,student_details1.marks from student_data inner join student_details1 on student_data.phone_number=student_details1.phone_number"
result=cursor.execute(sql)
for row in result:
    print(row)

(9988776604, '03-10-2020', 'Salah', 85)
(9988776605, '21-06-2020', 'Heung-Son', 39)
(9988776606, '08-05-2020', 'Ronaldo', 86)
(9988776607, '11-05-2022', 'Kane', 57)
(9988776608, '17-05-2022', 'Mane', 52)
(9988776614, '31-03-2022', 'Toney', 71)
(9988776615, '10-03-2020', 'Maddison', 44)
(9988776622, '19-02-2021', 'Pukki', 93)
(9988776623, '01-03-2022', 'Fernandes', 94)

In [36]:
#Left Join

In [38]:
sql="select student_data.phone_number,student_details1.enrolled_date,student_details1.student_name,student_details1.marks from student_data left join student_details1 on student_data.phone_number=student_details1.phone_number"
result=cursor.execute(sql)
for row in result:
    print(row)

(9988776604, '03-10-2020', 'Salah', 85)
(9988776605, '21-06-2020', 'Heung-Son', 39)
(9988776606, '08-05-2020', 'Ronaldo', 86)
(9988776607, '11-05-2022', 'Kane', 57)
(9988776608, '17-05-2022', 'Mane', 52)
(9988776609, None, None, None)
(9988776610, None, None, None)
(9988776611, None, None, None)
(9988776612, None, None, None)
(9988776613, None, None, None)
(9988776614, '31-03-2022', 'Toney', 71)
(9988776615, '10-03-2020', 'Maddison', 44)
(9988776616, None, None, None)
(9988776617, None, None, None)
(9988776618, None, None, None)
(9988776619, None, None, None)
(9988776620, None, None, None)
(9988776621, None, None, None)
(9988776622, '19-02-2021', 'Pukki', 93)
(9988776623, '01-03-2022', 'Fernandes', 94)

In [39]:
# Right Join and Full Join Not Supported on SQLite3

In [40]:
#Use SQL With Python

In [41]:
while True:
    try:
        ph_num=int(input("Enter Your Number"))
        if len(str(ph_num))!=10:
            print("Please Enter Valid Number")
        else:
            result=cursor.execute("select * from student_details1")
            for detail in result:
                if detail[0]==ph_num:
                    print("Name ",detail[1])
                    print("DOJ ", detail[2])
                    print("marks",detail[3])
            else:
                print("Phone Number Not Found in database")
                break
            break
    except:
        print("Not valud Number")
        continue

Enter Your Number9988776622
Name  Pukki
DOJ  19-02-2021
marks 93
Phone Number Not Found in database

In [ ]:
#Student of DataScience
#Student of DataTrained-Saurav
#Date-12-07-2022
#Time-13:00