In [ ]:
#Lecture 8 
# SQLite3

In [2]:
import sqlite3

In [4]:
db=sqlite3.connect("Student_database.db")

In [5]:
cursor=db.cursor()

In [7]:
#Now Lets Create Table

In [6]:
cursor.execute("Create table student_data(phone_number int primary key,email_id text,course_name text,fee_paid int)")

In [8]:
#Now Insert values

In [9]:
cursor.execute("insert into student_data(phone_number,email_id,course_name,fee_paid)values(9406289124,'saurav.vicky16@gmail.com','DatScience',25000)")

In [11]:
db.commit() # its mean save the data to student_data file

In [13]:
#now check how much records we inserted

In [14]:
print(cursor.rowcount,("Record(s) Inserted"))

1 Record(s) Inserted

In [15]:
#Lets check which record we inserted here

In [17]:
sql="select * from student_data" #  * means every thing
cursor.execute
result=cursor.execute(sql)
for row in result:
    print(row)

(9406289124, 'saurav.vicky16@gmail.com', 'DatScience', 25000)

In [18]:
#Multiple record insertion

In [20]:
cursor.execute("insert into student_data values(9752302393,'imgk19@gmail.com','Engineering',50000),(9406438538,'rubi@gmail.com','House Wife',65000)")

In [21]:
print(cursor.rowcount,'Record(s) inserted')

2 Record(s) inserted

In [22]:
db.commit()

In [24]:
result=cursor.execute("select * from student_data")
for row in result:
    print(row)

(9406289124, 'saurav.vicky16@gmail.com', 'DatScience', 25000)
(9752302393, 'imgk19@gmail.com', 'Engineering', 50000)
(9406438538, 'rubi@gmail.com', 'House Wife', 65000)

In [25]:
#open csv file from our save files.

In [26]:
with open("DT_Students1.csv",'r')as file:
    row_count=0
    for row in file:
        cursor.execute("insert into student_data values(?,?,?,?)",row.split(","))
        db.commit()
        row_count +=1
print(row_count)

20

In [28]:
#verify all files are fetch or not

In [29]:
sql='select * from student_data'
result=cursor.execute(sql)
for row in result:
    print(row)

(9406289124, 'saurav.vicky16@gmail.com', 'DatScience', 25000)
(9752302393, 'imgk19@gmail.com', 'Engineering', 50000)
(9406438538, 'rubi@gmail.com', 'House Wife', 65000)
(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)

In [30]:
# where caluse -select record based on condtion

In [31]:
sql="select * from student_data where course_name='Data Science'"
result=cursor.execute(sql)
for row in result:
    print(row)

(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)

In [32]:
#Check how to delete records, based on condition

In [34]:
sql="Delete from student_data where phone_number=9406289124"
cursor.execute(sql)
db.commit()

In [37]:
#Verify its deleted or not

In [36]:
result=cursor.execute("select * from student_data")
for row in result:
    print(row)

(9752302393, 'imgk19@gmail.com', 'Engineering', 50000)
(9406438538, 'rubi@gmail.com', 'House Wife', 65000)
(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)

In [38]:
#Order By.! How to chaneg the order of records.

In [46]:
sql="select * from student_data order by fee_paid desc"
result=cursor.execute(sql)
for row in result:
    print(row)

(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9406438538, 'rubi@gmail.com', 'House Wife', 65000)
(9752302393, 'imgk19@gmail.com', 'Engineering', 50000)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)

In [47]:
#Table Update the column value.

In [51]:
sql='update student_data set course_name="Data Science" where phone_number=9988776612'
cursor.execute(sql)

In [52]:
#check course name with particular number

In [50]:
result=cursor.execute("select * from student_data where phone_number=9988776612")
for row in result:
    print(row)

(9988776612, 'student12@gmail.com', 'Data Science', 31000)

In [53]:
#Multiple Condition

In [54]:
sql="select phone_number,email_id,fee_paid from student_data where course_name='Data Science'and fee_paid <=50000"
result=cursor.execute(sql)
for row in result:
    print(row)

(9988776606, 'student6@gmail.com', 34000)
(9988776607, 'student7@gmail.com', 33000)
(9988776609, 'student9@gmail.com', 40000)
(9988776611, 'student11@gmail.com', 41500)
(9988776612, 'student12@gmail.com', 31000)
(9988776614, 'student14@gmail.com', 24000)
(9988776615, 'student15@gmail.com', 23000)
(9988776617, 'student17@gmail.com', 29000)
(9988776622, 'student22@gmail.com', 23000)
(9988776623, 'student23@gmail.com', 24000)

In [55]:
#Multiple record update using 'IN'

In [56]:
sql="update student_data set fee_paid=140000 where phone_number in (9988776611,9988776611,9988776617)"
cursor.execute(sql)

In [62]:
result=cursor.execute("select phone_number,email_id from student_data where fee_paid=140000")
for row in result:
    print(row)

(9988776611, 'student11@gmail.com')
(9988776617, 'student17@gmail.com')
(9988776618, 'student18@gmail.com')

In [63]:
#Update records using between (this will update all the reocrds between the range given)

In [66]:
sql="update student_data set course_name='Mining' where phone_number between 9988776611 and 9988776617"
cursor.execute(sql)

In [67]:
result=cursor.execute("select * from student_data where course_name='Mining'")
for row in result:
    print(row)

(9988776611, 'student11@gmail.com', 'Mining', 140000)
(9988776612, 'student12@gmail.com', 'Mining', 31000)
(9988776613, 'student13@gmail.com', 'Mining', 23000)
(9988776614, 'student14@gmail.com', 'Mining', 24000)
(9988776615, 'student15@gmail.com', 'Mining', 23000)
(9988776616, 'student16@gmail.com', 'Mining', 122500)
(9988776617, 'student17@gmail.com', 'Mining', 140000)

In [68]:
#Lets learn about Minimun and Maximum function

In [69]:
#Minimum Function # Using Fetchone

In [76]:
result=cursor.execute("select min(fee_paid) from student_data")
result.fetchone()

(23000,)

In [72]:
#Maximum Function

In [75]:
result=cursor.execute("select max(fee_paid) from student_data")
result.fetchone()

(140000,)

In [80]:
#Next Topic

In [81]:
#SubQuery-

In [82]:
import sqlite3

In [83]:
db=sqlite3.connect("Student_course_database.db")

In [84]:
cur=db.cursor()

In [85]:
cur.execute("create table course1(courseid int primary key,course_name text,duration int)")

In [87]:
cur.execute("create table student1(roll_no int primary key,student_name text,age int,courseid int,foreign key(courseid) references course1(courseid))")

In [88]:
cur.execute("insert into course1 values(78,'Data Science',12),(56,'Python Course',4),(101,'Data Base',7)")

In [89]:
print(cur.rowcount,"Record(s) Inserted")

3 Record(s) Inserted

In [90]:
cur.execute("insert into student1 values(1,'Jack',22,78),(2,'John',21,56),(3,'Rudolf',18,78),(4,'Jim',21,56)")

In [91]:
print(cur.rowcount,('Record(s) Inserted'))

4 Record(s) Inserted

In [92]:
result=cur.execute('select * from course1')
for row in result:
    print(row)

(78, 'Data Science', 12)
(56, 'Python Course', 4)
(101, 'Data Base', 7)

In [93]:
result=cur.execute("select * from student1")
for row in result:
    print(row)

(1, 'Jack', 22, 78)
(2, 'John', 21, 56)
(3, 'Rudolf', 18, 78)
(4, 'Jim', 21, 56)

In [95]:
sql="select * from student1 where courseid=(select courseid from course1 where course_name='Data Science')"
result=cur.execute(sql)
result.fetchall()

[(1, 'Jack', 22, 78), (3, 'Rudolf', 18, 78)]

In [103]:
sql="select * from student1 where courseid=(select courseid from course1 where course_name='Python Course')"
result=cur.execute(sql)
result.fetchall()

[(2, 'John', 21, 56), (4, 'Jim', 21, 56)]

In [ ]:
# Studen  of DatScience
# Student of Datatrained -Saurav
#Date-12-07-2022
#Time-12:05